

### C/C++ ###
*.d
*.o
*.obj
*.elf
*.map
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.cmd
*.slo
*.mod
*.smod
*.lai

### MPLabX ###
*.pre
*.p1
*.sym
*.sdb
*.obj.dmp
nbproject/private/
nbproject/Package-*.bash
build/
dist/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/Makefile-*
disassembly/

### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

### VS Code ###
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets